@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  overflow: hidden;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button: #ecf0f1;
  --notify: #2a3950;
  --icon: #ff3f34;
  --light-grey: #ecf0f1;
  --dark-grey: #34495e;
  --blue: #12cbc4;
  --dark-blue: #1289a7;
  --red: #ed4c67;
  --timeline-scale: 1;
}

body {
  background-color: var(--background);
  font-family: Montserrat;
  animation-delay: 1s;
}

.ach {
  width: 360px;
  height: 70px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  background-color: var(--notify);
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
  left: 28px;
  filter: drop-shadow(7px 7px 10px RGBA(0, 0, 0, 0.4));
  padding: 8px 13px;
  transform: scale(var(--scale, 1));
  transform-origin: left bottom;
}

.ach {
  opacity: 1;
  animation: base-animation calc(3s * var(--timeline-scale)) ease alternate
    infinite;
}

.ach .icon {
  background-color: var(--button);
  height: 65px;
  width: 65px;
  position: absolute;
  right: 13px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px RGBA(0, 0, 0, 0.2));
  color: white;
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  font-size: 30px;
  color: white;
}
.ach .icon {
  z-index: 2;
}

.ach .icon {
  animation-delay: calc(1s * var(--timeline-scale));
  animation: combinedButtonIconAnimation calc(3s * var(--timeline-scale)) ease
    alternate infinite;
}
.ach .icon {
  z-index: 2;
}
.ach .icon img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  animation-delay: calc(1s * var(--timeline-scale));
  animation: icon-animation calc(3s * var(--timeline-scale)) ease alternate
    infinite;
}

.ach .text_wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation-delay: calc(1s * var(--timeline-scale));
  animation: text-animation calc(3s * var(--timeline-scale)) ease alternate
    infinite;
  overflow: hidden; /* clip marquee */
}

.title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

/* marquee state */
.title.marquee {
  display: inline-block;
  overflow: visible;
  text-overflow: clip;
}

.detail {
  color: #ddd;
  font-size: 15px;
  max-width: 85%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

@keyframes base-animation {
  0% {
    width: 90px;
    height: 0;
  }

  22% {
    height: 83px;
  }

  25% {
    width: 90px;
    height: 76px;
  }

  32% {
    height: 70px;
  }

  50% {
    width: 360px;
  }
}

@keyframes button-animation {
  0% {
    height: 0px;
    width: 0px;
  }

  17% {
    height: 75px;
    width: 75px;
    right: 8px;
  }

  22% {
    height: 65px;
    width: 65px;
    right: 13px;
  }
  100% {
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes icon-animation {
  0% {
    transform: rotate(-680deg);
    opacity: 0;
  }
  1% {
    transform: rotate(-380deg);
    opacity: 0;
  }
  27% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes combinedButtonIconAnimation {
  0% {
    height: 0px;
    width: 0px;
    transform: rotate(-680deg);
    opacity: 0;
  }

  1% {
    transform: rotate(-380deg);
    opacity: 0;
  }

  17% {
    height: 75px;
    width: 75px;
    right: 8px;
  }

  22% {
    height: 65px;
    width: 65px;
    right: 13px;
  }

  27% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    /* Final state can be customized if needed */
  }
}
